<h1>Articles List</h1>
<%= link_to "create new article", new_myarticle_path %>
<ul>
  <% @all_articles.each do |article| %>
  <li>
    <%= article.inspect %>
  </li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @all_articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "Edit", edit_myarticle_path(article) %></td>
    <td><%= link_to "Show", myarticle_path(article) %></td>
    <td><%= link_to "Delete", myarticle_path(article), method: :delete, data: {confirm: "Are you Sure?"} %></td>
  </tr>
  <% end %>
</table>
