<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style media="screen">
    body {margin: 0px}
  </style>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render "layouts/messages" %>
    <div class="container">
      <%= yield %>
    </div>
    <!-- <p>This is a test page</p> -->
    <%= render 'layouts/footer' %>
  </body>
</html>
